# Local env files
.env
.env.local
.env.development.localpostgresql://postgres.snlceykmuawhxuohcgpj:Aiview5teamproject@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres
.env.test.local
.env.production.local

# python / venv
venv/
.venv/
ENV/
env/
__pycache__/
*.py[cod]
*$py.class

# Node / React
node_modules/
/build
.node_repl_history

# OS metadata
.DS_Store
Thumbs.db