# Local env files
/env
.env
.env.local
.env.production.local

# python / venv
venv/
.venv/
ENV/
env/
__pycache__/
*.py[cod]
*$py.class

# Node / React
node_modules/
/build
.node_repl_history

# OS metadata
.DS_Store
Thumbs.db

#Log files
*.log