/* index.css */

#root {
  width: 100%;
  min-height: 100vh;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #8D9192;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}